<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unistring_hitown.idcard"
    android:versionCode="154"
    android:versionName="1.5.4" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER" /> system权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/idcard_icon"
        android:label="@string/idcard_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hitown.idcard.ScanActivity"
            android:label="@string/idcard_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="cn.com.hnisi.service.ReadIDCardAIDLService" 
            >
            <intent-filter>
                <action android:name="android.intent.action.ReadIDCardAIDLService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>